# Data Cleaning

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("/content/item.csv")

In [ ]:
data.head()

,breakfast,cancelation,distance,guest_reviews,location,price,review_number,title,type_room
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,FREE,150 m from center,"Very,Good","Sabayil , Baku",AZN 50,742 reviews,Center Hotel Baku,Economy Double Room
3,Breakfast included,FREE,2.3 km from center,"Very,Good","Sabayil , Baku",AZN 35,101 reviews,Madinah Hotel Baku,Single Room
4,Breakfast included,Free,0.7 km from center,"Very,Good","Sabayil , Baku",AZN 98,253 reviews,Shirvanshah Hotel,Budget Single Room

In [ ]:
data.shape

(892, 9)

In [ ]:
data.isnull().sum()

breakfast        757
cancelation      441
distance         285
guest_reviews    487
location         285
price            291
review_number    487
title            285
type_room        285
dtype: int64

In [ ]:
data.tail()

,breakfast,cancelation,distance,guest_reviews,location,price,review_number,title,type_room
887,NaN,FREE,250 m from center,NaN,"Nasimi, Baku",AZN 255,NaN,Prestige Apartment VIP Panamera,Apartment with Sea View
888,NaN,FREE,2 km from center,NaN,"Nasimi, Baku",AZN 124,NaN,City Center apartment,Apartment
889,NaN,FREE,28.7 km from center,NaN,Baku,AZN 176,NaN,Merdekan Villa,One-Bedroom Villa
890,Breakfast included,Free,3.1 km from center,Exceptional,Baku,AZN 60,3 reviews,Apartment near Khatai,One-Bedroom Apartment
891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.dropna(axis=0, how='all', inplace=True)

In [ ]:
data.shape

(607, 9)

In [ ]:
data.reset_index(drop=True, inplace=True)

In [ ]:
#cleaning breakfast column
data.breakfast.nunique()

1

In [ ]:
for x in data.index:
  if data.loc[x, "breakfast"]=="Breakfast included":
    data.loc[x, "breakfast"]="Yes"

In [ ]:
data.breakfast.fillna("No", inplace=True)

In [ ]:
#cleaning cancelation column
for x in data.index:
  if data.loc[x, "cancelation"]=="FREE" or data.loc[x, "cancelation"]=="Free":
    data.loc[x, "cancelation"]="Yes"

In [ ]:
data.cancelation.fillna("No", inplace=True)

In [ ]:
#cleaning distance column
data["distance_from_center"]=data.distance.str.extract('(... m)', expand=True)

In [ ]:
data["distance_km"]=data.distance_from_center.str.extract('(\d+)', expand=True)

In [ ]:
data.distance_km=data.distance_km.astype(float)/1000

In [ ]:
data["dist"]=data.distance.str.extract('(... km)', expand=True)
data["dist"]=data.dist.str.extract('(\d+.\d+)', expand=True)
data.dist=data.dist.astype(float)

In [ ]:
data["distance_km"]=np.where(data.distance_km.isnull(), data.dist, data.distance_km)

In [ ]:
data.drop(["distance_from_center", "distance", "dist"], axis=1, inplace=True)

In [ ]:
#clean guest_reviews column
data.guest_reviews=data.guest_reviews.replace(",", " ", regex=True)

In [ ]:
data.guest_reviews=data.guest_reviews.replace("10", "", regex=True).str.strip()

In [ ]:
data.guest_reviews=data.guest_reviews.replace("Review score", "Score under 7", regex=True)

In [ ]:
#clean price column
data.price=data.price.replace("AZN", "", regex=True)
data.rename(columns={"price":"price_AZN"}, inplace=True)
data.price_AZN=data.price_AZN.astype(float)

In [ ]:
#clean review_number column
data.review_number=data.review_number.replace("reviews|review|external", "", regex=True)
data.review_number=data.review_number.replace(",", "", regex=True)
data.review_number=data.review_number.astype(float).astype('Int64')

In [ ]:
#clean Location column
data.location=data.location.replace(",|Baku", "", regex=True)

In [ ]:
for x in data.index:
  if data.loc[x, "location"]=='':
    data.loc[x, "location"]="Other"

In [ ]:
data.location=data.location.str.strip()

In [ ]:
data.location.unique()

array(['Sabayil', 'Other', 'Nasimi', 'Yasamal', 'White City'],
      dtype=object)

In [ ]:
data[data.title.str.contains("Hotel")]

,breakfast,cancelation,guest_reviews,location,price_AZN,review_number,title,type_room,distance_km
0,No,Yes,Very Good,Sabayil,50.0,742,Center Hotel Baku,Economy Double Room,0.15
1,Yes,Yes,Very Good,Sabayil,35.0,101,Madinah Hotel Baku,Single Room,2.30
2,Yes,Yes,Very Good,Sabayil,98.0,253,Shirvanshah Hotel,Budget Single Room,0.70
3,No,No,Very Good,Sabayil,10.0,745,SAHIL Hostel & Hotel,Bed in 10-Bed Mixed Dormitory Room,0.60
4,No,Yes,Very Good,Sabayil,26.0,22,La Villa Hotel Old Baku,Economy Double or Twin Room,0.60
...,...,...,...,...,...,...,...,...,...
509,Yes,No,Good,Other,180.0,10,Pure Boutique Hotel,Budget Twin Room,4.80
513,No,Yes,NaN,Nasimi,190.0,<NA>,Apartment VIP Sapphire Hotel,Three-Bedroom Apartment,0.40
565,No,No,Good,Yasamal,79.0,23,Mark Hotel Baku,Queen Room with Two Queen Beds,2.30
573,No,No,NaN,Nasimi,227.0,<NA>,Port Baku Residance Hotel Apartment A1702,Apartment with Sea View,2.10
598,No,Yes,NaN,Sabayil,160.0,<NA>,Luxury Apartment Near Hilton Hotel,Apartment with Sea View,0.60

In [ ]:
data["latitude"]=np.nan

In [ ]:
data["longitude"]=np.nan

In [ ]:
for x in data.index:
  if data.loc[x, "location"]=="Sabayil":
    data.loc[x, "latitude"]=40.34018472008257
  if data.loc[x, "location"]=="Nasimi":
    data.loc[x, "latitude"]=40.39482299502607
  if data.loc[x, "location"]=="Yasamal":
    data.loc[x, "latitude"]=40.37910692339686 
  if data.loc[x, "location"]=="White City":
    data.loc[x, "latitude"]=40.38191540820948

In [ ]:
for x in data.index:
  if data.loc[x, "location"]=="Sabayil":
    data.loc[x, "longitude"]=49.81870865057885
  if data.loc[x, "location"]=="Nasimi":
    data.loc[x, "longitude"]=49.82684828968684
  if data.loc[x, "location"]=="Yasamal":
    data.loc[x, "longitude"]=49.809651649057464
  if data.loc[x, "location"]=="White City":
    data.loc[x, "longitude"]=49.88996746617085

In [ ]:
data

,breakfast,cancelation,guest_reviews,location,price_AZN,review_number,title,type_room,distance_km,latitude,longitude
0,No,Yes,Very Good,Sabayil,50.0,742,Center Hotel Baku,Economy Double Room,0.15,40.340185,49.818709
1,Yes,Yes,Very Good,Sabayil,35.0,101,Madinah Hotel Baku,Single Room,2.30,40.340185,49.818709
2,Yes,Yes,Very Good,Sabayil,98.0,253,Shirvanshah Hotel,Budget Single Room,0.70,40.340185,49.818709
3,No,No,Very Good,Sabayil,10.0,745,SAHIL Hostel & Hotel,Bed in 10-Bed Mixed Dormitory Room,0.60,40.340185,49.818709
4,No,Yes,Very Good,Sabayil,26.0,22,La Villa Hotel Old Baku,Economy Double or Twin Room,0.60,40.340185,49.818709
...,...,...,...,...,...,...,...,...,...,...,...
602,No,Yes,Very Good,Nasimi,350.0,3,Port Baku Residence Archi Apartment,Three-Bedroom Apartment,NaN,40.394823,49.826848
603,No,Yes,NaN,Nasimi,255.0,<NA>,Prestige Apartment VIP Panamera,Apartment with Sea View,0.25,40.394823,49.826848
604,No,Yes,NaN,Nasimi,124.0,<NA>,City Center apartment,Apartment,NaN,40.394823,49.826848
605,No,Yes,NaN,Other,176.0,<NA>,Merdekan Villa,One-Bedroom Villa,8.70,NaN,NaN
606,Yes,Yes,Exceptional,Other,60.0,3,Apartment near Khatai,One-Bedroom Apartment,3.10,NaN,NaN

In [ ]:
data.to_csv("booking_cleaned.csv")